@using System.Globalization
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwind Demo APP</h1>
    <p class="lead">This is working demo of Northwind-app</p>

    <p>Now is @DateTime.Now</p>
    <p>Now is @DateTime.Now.ToString(new CultureInfo("en-US"))</p>
</div>
